:root {
  --black: #191c30;
  --gray-1: rgba(25, 28, 48, 0.6);
  --gray-2: rgba(25, 28, 48, 0.3);
  --gray-3: rgba(255, 255, 255, 0.8);
  --gray-4: #e0e0e0;
  --white: #fff;
  --white-1: #f6f6f6;
  --blue-1: #4d55cc;
  --blue-2: #606aff;
  --blue-3: #526ed3;
  --blue-4: #211c84;
  --purple: rgba(218, 203, 255, 0.8);
  --red: #c30707;
  --green: #106f01;

  --header-height: 50px;

  --font-family-base: "OpenSans", sans-serif;

  --transition-duration: 0.2s;
}
