.section {
	padding: 25px 30px;
	display: inline-flex;
	flex-direction: column;
	row-gap: 24px;
	overflow-y: auto;
	height: 100dvh;

	.link {
		display: inline-flex;
		padding: 8px 16px;
		color: var(--text-01);
		border: var(--border);
		border-radius: var(--border-radius);
		align-self: flex-start;
	}

	.title {
		font-size: 22px;
	}

	.content {
		display: inline-flex;
		flex-direction: column;
		row-gap: 24px;
	}
}
