.cell-button {
  width: 100%;
  height: 100%;
	display: flex;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
	text-align: left;
  span {
    color: var(--link);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;

    line-height: 20px;
    max-height: 40px;
  }
}
