.filterOperations {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
  .nameInput {
    min-width: 431px;
    @media (max-width: 440px) {
      min-width: max-content;
    }
  }

	.select {
		width: 100%;
		max-width: 450px;
	}

	.top {
		display: grid;
		grid-template-columns: 200px repeat(4, 250px) 280px;
		column-gap: 10px;
	}

	.bottom {
		display: grid;
		grid-template-columns: 250px 140px 290px;
		gap: 6px;
	}

	.buttons-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 10px;
	}
}
