.total-info {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	column-gap: 55px;
	border: var(--border);
	border-radius: var(--border-radius);
	flex-shrink: 0;
	min-height: 40px;
}

.value {
	margin-left: 4px;
}

.coming-value,
.difference-value {
	color: var(--positive);
}

.expenditure-value {
	color: var(--negative);
}
