.wrapper {
	position: relative;
}

.input {
	width: 100%;
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 10px 27px 10px 8px;
	color: var(--text-02);
	box-shadow: 0 2px 3px 0 rgba(25, 28, 48, 0.1);
	position: relative;

	&:focus {
		outline: none;
		color: var(--text-01);
		border: 1px solid var(--link-hover);
	}

	&__icon {
		width: 16px;
		height: 16px;
		position: absolute;
		top: 12px;
		right: 6px;
	}

	&-label {
		font-size: 11px;
		color: var(--text-02);
		position: absolute;
		top: 2px;
		left: 8px;
		z-index: 5;
	}
}

.extraLabel {
	font-size: 11px;
	color: var(--text-02);
	position: absolute;
	bottom: 5px;
	right: 8px;
	z-index: 5;
}

.with-label {
	&.input {
		padding: 20px 22px 5px 8px;
		height: 40px;
	}
}
