.wrapper {
	position: relative;
}

.input {
	width: 100%;
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 10px 27px 10px 8px;
	color: var(--text-02);
	background-color: transparent;
	box-shadow: 0 2px 3px 0 rgba(25, 28, 48, 0.1);
	position: relative;

	&:focus {
		outline: none;
		color: var(--text-01);
		border: 1px solid var(--link-hover);
	}

	&__icon,
	&__icon_lock {
		width: 16px;
		height: 16px;
	}

	&__icon {
		position: absolute;
		top: 12px;
		right: 6px;
	}

	&-label {
		font-size: 11px;
		color: var(--text-02);
		position: absolute;
		top: 3px;
		left: 8px;
	}

	&[disabled] {
		background-color: var(--base-input-bg);
		box-shadow: none;
	}
}

.input[disabled] ~ .input__icon_lock {
	position: absolute;
	top: 12px;
	right: 8px;
}

.input:not([disabled]) ~ .input__icon_lock {
	display: none;
}

.extraLabel {
	font-size: 11px;
	color: var(--text-02);
	position: absolute;
	bottom: 5px;
	right: 8px;
}

.with-label {
	&.input {
		padding: 20px 22px 5px 8px;
		height: 40px;
	}
}
