.header {
	width: 100%;
	min-width: 1420px;
	min-height: var(--header-height);
	background-color: var(--blue-4);
	padding: 10px 15px;
	display: flex;
	align-items: center;
	column-gap: 45px;
	position: relative;
	z-index: 100;
}
