.header {
	width: 100%;
	min-width: 1420px;
	min-height: var(--header-height);
	background-color: var(--base-02);
	padding: 10px 15px;
	display: flex;
	align-items: center;
	column-gap: 50px;
	position: relative;
	z-index: 100;
	box-shadow: 0 2px 3px var(--base-02);
}
