.container {
	max-width: 280px;
	padding: 10px;
	border: 1.5px dashed var(--link);
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.dropzone__label {
	span {
		color: var(--link);
	}
}

.uploadFile-wrapper {
	display: flex;
	align-items: center;
}

.uploadFile-icon {
	width: 24px;
	height: 24px;
}

.sizeFile {
	color: var(--text-02);
}

.deleteFile {
	width: 16px;
	height: 16px;
	margin-left: 16px;
}
