.addNewOperation {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	row-gap: 20px;
}

.main-info {
	display: flex;
	border-block: var(--border);
	padding-block: 20px;
	gap: 10px 31px;

	&-select {
		width: 100%;
		min-width: 250px;
	}
}

.left,
.right {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 100%;
}

.left {
	position: relative;
}

.hasArrow::after {
	content: '';
	width: 16px;
	height: 16px;
	background: url('../../../shared/assets/icons/red-arrow-left.svg') center / cover no-repeat;
	position: absolute;
	top: 38px;
	right: -23px;
}

.extra-info {
	padding-bottom: 20px;
	border-bottom: var(--border);
	display: flex;
	gap: 10px 31px;

	.left,
	.right {
		.wrapper {
			width: 100%;
			display: flex;
			column-gap: 10px;
			position: relative;

			.idInput {
				min-width: 212px;
			}

			.sumInput {
				width: 100%;
			}
		}
	}
}
