.total-info {
	padding: 8px 17px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px clamp(20px, 1rem, 58px);
	border: var(--border);
	border-radius: var(--border-radius);
	min-height: 40px;
}

.value {
	margin-left: 4px;
}

.comingValue,
.differenceValue {
	color: var(--positive);
}

.expenditureValue {
	color: var(--negative);
}
