.uploadOperation {
	display: flex;
	flex-direction: column;

	&__body {
		margin-block: 15px;
		padding-block: 15px;
		border-block: var(--border);
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}

	&__title {
		font-size: 12px;
		font-weight: 500;
	}

	&__type-file {
		display: flex;
		column-gap: 30px;

		&-link {
			color: var(--blue-1);

			&:hover {
				color: var(--blue-4);
			}
		}
	}

	&__action-loading {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}

	&__error {
		color: var(--red);
	}
}
