.uploadOperation {
	display: flex;
	flex-direction: column;

	&__body {
		margin-block: 15px;
		padding-block: 15px;
		border-block: var(--border);
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}

	&__title {
		font-size: 12px;
		font-weight: 500;
	}

	&__type-file {
		display: flex;
		column-gap: 30px;

		&-link {
			color: var(--link);

			&:hover {
				color: var(--link-hover);
			}
		}
	}

	&__action-loading {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}

	&__error {
		color: var(--negative);
	}
}

.downloadReport {
	border-bottom: var(--border);
	padding-bottom: 15px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;

	&__title {
		font-size: 16px;
		color: var(--positive-02);
	}

	&__subtitle {
		font-size: 14px;
		font-weight: 600;
	}

	&__main-info,
	&__error-info {
		max-width: 250px;
		display: flex;
		flex-direction: column;
		row-gap: 6px;
	}

	&__values {
		display: grid;
		grid-template-columns: 1fr 70px;
	}
}
