.button {
	border: none;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__primary,
	&__secondary {
		width: fit-content;
		height: 32px;
		font-size: 12px;
		font-weight: 600;
		padding: 8px 16px;
	}

	&__primary {
		color: var(--base-01);
		background-color: var(--link);

		&:hover {
			background-color: var(--link-hover);
		}

		&:disabled:hover {
			opacity: 0.56;
		}
	}

	&__secondary {
		color: var(--text-01);
		background-color: transparent;
		border: var(--border);

		&:hover {
			border: 1px solid var(--text-03);
		}

		&:disabled:hover {
			background-color: transparent;
			border: var(--border);
		}
	}

	&__clear {
		background-color: transparent;
	}

	&:disabled {
		opacity: 0.56;
		cursor: not-allowed;
	}

	.wrapper {
		display: flex;
		align-items: center;
		column-gap: 4px;
	}
}
