.radio-wrapper {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.radio {
	appearance: none;
	width: 16px;
	height: 16px;
	background-color: var(--base-05);
	border-radius: 50%;
	transition: all 0.2s;
	cursor: pointer;
	position: relative;

	&:hover {
		background-color: var(--base-04);
	}

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		box-shadow: 0 0 0 calc(16 / 2.5) var(--link);
		border-radius: inherit;
		opacity: 0;
		transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
	}

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 6px;
		height: 6px;
		background-color: var(--base-01);
		border-radius: 50%;
		transform: translate(-50%, -50%) rotate(45deg) scale(0);
		opacity: 0;
		transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
	}

	&:checked {
		background: var(--link);
	}

	&:checked:hover {
		background: var(--link-hover);
	}

	&:checked::before {
		opacity: 1;
		transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
		transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
	}
}
