.actionButton {
	width: 32px;
	height: 32px;
}

.editing {
	background: url('../../../shared/assets/icons/edit.svg') center / cover no-repeat;

	&:hover {
		background: url('../../../shared/assets/icons/edit-filled.svg') center / cover no-repeat;
	}

	&.active {
		background: url('../../../shared/assets/icons/edit-filled.svg') center / cover no-repeat;
	}
}

.add {
	background: url('../../../shared/assets/icons/add.svg') center / cover no-repeat;

	&:hover {
		background: url('../../../shared/assets/icons/add-filled.svg') center / cover no-repeat;
	}
}

.delete {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23ffffffaf' stroke-width='1' stroke-linecap='round' stroke-linejoin='miter'%3E%3Cline x1='2' y1='6' x2='22' y2='6'%3E%3C/line%3E%3Cpolyline points='8 6 8 2 16 2 16 6'%3E%3C/polyline%3E%3Cline x1='9' y1='10' x2='9' y2='18'%3E%3C/line%3E%3Cline x1='15' y1='10' x2='15' y2='18'%3E%3C/line%3E%3Cpolyline points='20 6 20 22 4 22 4 6'%3E%3C/polyline%3E%3C/svg%3E");
	&:hover {
		background: #fff;
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='32px' height='32px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23000000' stroke-width='1' stroke-linecap='round' stroke-linejoin='miter'%3E%3Cline x1='2' y1='6' x2='22' y2='6'%3E%3C/line%3E%3Cpolyline points='8 6 8 2 16 2 16 6'%3E%3C/polyline%3E%3Cline x1='9' y1='10' x2='9' y2='18'%3E%3C/line%3E%3Cline x1='15' y1='10' x2='15' y2='18'%3E%3C/line%3E%3Cpolyline points='20 6 20 22 4 22 4 6'%3E%3C/polyline%3E%3C/svg%3E");
	}
}
.search {
	background: url('../../../shared/assets/icons/search.svg') center / cover no-repeat;

	&:hover {
		background: url('../../../shared/assets/icons/search-filled.svg') center / cover no-repeat;
	}

	&.active {
		background: url('../../../shared/assets/icons/search-filled.svg') center / cover no-repeat;
	}
}

.import {
	background: url('../../../shared/assets/icons/import.svg') center / cover no-repeat;

	&:hover {
		background: url('../../../shared/assets/icons/import-filled.svg') center / cover no-repeat;
	}
}

.unload {
	background: url('../../../shared/assets/icons/unload.svg') center / cover no-repeat;

	&:hover {
		background: url('../../../shared/assets/icons/unload-filled.svg') center / cover no-repeat;
	}
}

.graph {
	background: url('../../../shared/assets/icons/graph.svg') center / cover no-repeat;

	&:hover {
		background: url('../../../shared/assets//icons/graph-filled.svg') center / cover no-repeat;
	}
}

.mail {
	background: url('../../../shared/assets/icons/mail.svg') center / cover no-repeat;

	&:hover {
		background: url('../../../shared/assets/icons/mail-filled.svg') center / cover no-repeat;
	}
}

.faq {
	background: url('../../../shared/assets/icons/faq.svg') center / cover no-repeat;

	&:hover {
		background: url('../../../shared/assets/icons/faq-filled.svg') center / cover no-repeat;
	}
}

.settings {
	background: url('../../../shared/assets/icons/settings.svg') center / cover no-repeat;

	&:hover {
		background: url('../../../shared/assets/icons/settings-filled.svg') center / cover no-repeat;
	}
}
