.addNewContragent {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  row-gap: 20px;

  .main-info {
    display: flex;
    border-block: var(--border);
    padding-block: 20px;
    gap: 10px 31px;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
  }
}
