.settingsListOperations {
	&__title {
		font-size: 12px;
		font-weight: 500;
	}

	&__table-columns {
		border-block: var(--border);
		margin-top: 15px;
	}

	&__amounts {
		border-bottom: var(--border);
		margin-bottom: 15px;
	}

	&__table-columns,
	&__amounts {
		padding-top: 15px;

		&-checkbox-wrapper {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding: 10px 0 15px;
			row-gap: 10px;
		}
	}

	&__table-columns-filter {
		display: flex;
		align-items: center;
		column-gap: 30px;
		padding: 10px 0 15px;
		border-bottom: var(--border);
		margin-bottom: 15px;
	}
}
