.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05), 0 11px 11px 0 rgba(0, 0, 0, 0.04),
    0 25px 15px 0 rgba(0, 0, 0, 0.03);
}

.error_auth,
.error_name,
.error_pass {
  color: var(--negative);
}

.error_auth {
  font-size: 15px;
  top: 58px;
}

.button {
  font-size: 14px;
  height: auto;
  margin: 0 auto;
  padding: 8px 24px;
}

.title {
  font-size: 28px;
  color: var(--base-03);
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin: 0 auto 20px auto;
  width: max-content;
}

.controllersRow {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  .controllerEl {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.title::before,
.title::after {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: var(--base-03);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
