.ag-checkbox-input-wrapper {
  /* appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: var(--base-05);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;

  &:hover {
    background: var(--base-04);
  } */

  &.ag-checked {
    /* &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: 0 0 0 calc(16 / 2.5) var(--link);
      border-radius: inherit;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    } */

    /* &::before {
      content: '';
      position: absolute;
      top: 41%;
      left: 50%;
      width: 4px;
      height: 7px;
      border-right: 1.5px solid var(--base-01);
      border-bottom: 1.5px solid var(--base-01);
      transform: translate(-50%, -50%) rotate(45deg) scale(0);
      opacity: 0;
      transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    } */
  }

  &.ag-checked {
    /* background: var(--link); */
  }
  /*
  &.ag-checked:hover {
    background: var(--link-hover);
  }

  &.ag-checked::before {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  } */

  &:where(:focus-within, :active) {
    box-shadow: none;
  }
}

.ag-header-cell-comp-wrapper {
  justify-content: center;
}

.ag-body-vertical-scroll-viewport {
  &::-webkit-scrollbar {
    width: var(--scrollbarWidth);
  }
}

.ag-header-cell-resize::after {
  background-color: transparent;
}

.ag-tooltip {
  padding: 5px 7px;
  max-width: 400px;
  white-space: pre-wrap; /* Перенос строк */
  word-break: break-word; /* Перенос длинных слов */
  overflow-wrap: anywhere; /* Аварийный перенос */
}
