.section {
  padding: 25px 30px;
  display: inline-flex;
  flex-direction: column;
  row-gap: 24px;
  height: calc(100dvh - var(--header-height));
  .sectionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .totalInfo {
      padding: 8px 17px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      border: var(--border);
      border-radius: var(--border-radius);
      min-height: 40px;
      font-weight: 600;
    }
  }
  .link {
    display: inline-flex;
    padding: 8px 16px;
    color: var(--text-01);
    border: var(--border);
    border-radius: var(--border-radius);
    align-self: flex-start;
  }

  .title {
    font-size: 22px;
  }

  .content {
    display: inline-flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: var(--scrollbarWidth);
    }
  }
}
