.profile {
	display: flex;
	align-items: center;
	column-gap: 8px;

	&__link {
		border-bottom: 1px solid var(--gray-3);

		&:hover {
			color: var(--blue-2);
			border-bottom: 1px solid var(--blue-2);
		}
	}

	&__button {
		width: 24px;
		height: 24px;
		color: var(--white);
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			color: var(--blue-2);
		}
	}
}
