.profile {
	display: flex;
	align-items: center;
	column-gap: 8px;

	&__link {
		border-bottom: 1px solid var(--text-02-alt);

		&:hover {
			color: var(--base-border);
			border-bottom: 1px solid var(--base-border);
		}
	}

	&__button {
		width: 24px;
		height: 24px;
		color: var(--base-01);

		&:hover {
			color: var(--text-02-alt);
		}
	}
}
